* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat';
}

/* Navigation Style */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 999;
  transition: 0.6s;
}

header.sticky {
  background-color: white;
  opacity: 97%;
  padding: 15px 100px;
}

header .logo {
  font-size: 30px;
  color: rgb(59, 58, 58);
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 1s;
}

header .logo:hover {
  color: rgb(0, 0, 0);
  font-size: 40px;
}

header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  margin: 0 30px;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 15px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover {
  color: #000;
  background: #ceb7ec;
}

header .btn {
  position: static;
  right: 0;
  margin-left: 200px;
  font-size: 25px;
  cursor: pointer;
  color: black;
  display: none;
}

@media (max-width: 1200px) {
  header .btn {
      display: block;
  }

  header .menu.active {
      right: 0;
  }

  header .menu {
      position: fixed;
      background: #E2D1F9;
      flex-direction: column;
      min-width: 400px;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 80px 50px;
      transition-property: right;
      transition: 0.5s;
  }

  header .menu .close-btn {
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
  }

  header .menu a {
      display: block;
      font-size: 16px;
      margin: 20px;
      padding: 0 15px;
  }
}

/* Adjustable Screen Sizes for Small Mobile Phone (hidden menu bar)*/ 
@media (max-width: 400px) {
  header .btn {
    position: static;
    right: 0;
    margin-left: 160px;
  }
  header .menu {
      position: fixed;
      background: #E2D1F9;
      flex-direction: column;
      min-width: 330px;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 50px 50px;
      transition-property: right;
      transition: 0.5s;
  }
}

/* Background Style */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-40deg, #E2D1F9 50%, #FBF8BE 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {

  0% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(25%);
  }
}

/* Page styling */
.content {
  display: block;
  margin: auto;
  width: 50%;
  height: fit-content;
  text-align: center;
}

/* About Page styling */
.about-content {
  display: block;
  margin: auto;
  width: 60%;
  height: fit-content;
  text-align: center;
}

/* Project Page styling */
.projects-content {
  display: block;
  margin: auto;
  width: 65%;
  height: fit-content;
  text-align: center;
}

/* Wave emoji movement */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
      transform: rotate( 0.0deg)
  }

  10% {
      transform: rotate(14.0deg)
  }

  20% {
      transform: rotate(-8.0deg)
  }

  30% {
      transform: rotate(14.0deg)
  }

  40% {
      transform: rotate(-4.0deg)
  }

  50% {
      transform: rotate(10.0deg)
  }

  60% {
      transform: rotate( 0.0deg)
  }

  100% {
      transform: rotate( 0.0deg)
  }
}

/* Profile image */
.profile img {
  position: relative;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 1s ease;
}

.profile img:hover {
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 1s ease;
}

/* Discord user image */
.discordimg {
  border-radius: 50px;
}

.discordimg:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
      transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
      transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
      transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
      transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
      transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
      transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
      transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
      transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
      transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
      transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
      transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* About me images */
.aboutImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  transition: 1s ease;
}

.aboutImg:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: 1s ease;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  margin-top: 30px;
  padding: 5px;
}

/* >>> Each Page Styling Starts Here <<< */
/* Page Break Line */
.page__break {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Home Page */
.discordName {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-weight: bold;
}

@keyframes textclip {
  to {
      background-position: 200% center;
  }
}

/* About Me */
.stat_list {
  font-size: 20px;
  list-style: none;
}

.stat_list li {
  margin-top: 30px;
  text-align: center;
}

.stat_list li span {
  color: rgb(105, 10, 230)
}

/* Wavy style */
.waviy {
  position: relative;
  -webkit-box-reflect: below -70px linear-gradient(transparent, transparent);
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
}

.waviy span {
  position: relative;
  display: inline-block;
  color: black;
  animation: waviy 2s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%,40%,100% {
      transform: translateY(0)
  }

  20% {
      transform: translateY(-5px)
  }
}

/* Projects  */ /* Projects  */
.card-row .card h3 {
  margin-top: 20px;
}

.card-row {
  display: flex;
}

.card-link {
  display: grid;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(121, 119, 119, 0.2);
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 50%;
}

.card img {
  width: 100%;
  height: auto;
}

.card p {
  font-size: 14px;
  color: rgb(61, 60, 60);
  padding: 5px;
}

.card h3 {
  margin: 0.5rem;
  font-size: 1.25rem;
}

.card a {
  align-self: flex-end;
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  color: rgb(99, 96, 96);
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.card a:hover {
  color: rgb(7, 7, 7);
}

.card-link a {
  color: rgb(104, 100, 100);
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  transition: 0.6s;
}

.card-link a:hover {
  color: rgb(0, 0, 0);
  background-color: #ceb7ec;
  border-radius: 50px;
}

/* Gallery */
:root {
  --transparent-grey: rgba(0,0,0,0.5);
}
/* Width of carousel */
#window, #slide-container {
  margin-top: 10px;
  width: 400px;
  display: inline-table
}

/* Height of carousel */
#slide-container {
  height: 520px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  min-height: 200px;
  border-radius: 30px;
}

.slides {
  display: block;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.slides:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* Style of arrows */
.arrow {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s ease;
}

.arrow:hover {
  cursor: pointer;
  background-color: var(--transparent-grey);
}

#next {
  left: 100%;
  transform: translate(-100%, -50%);
  border-radius: 4px 0px 0px 4px;
}

#previous {
  border-radius: 0px 4px 4px 0px;
}

#text-bar {
  background-color: var(--transparent-grey);
  width: 100%;
  position: absolute;
  top: 89%;
  transform: translate(0%, -100%);
  text-align: center;
  height: 36px;
  line-height: 36px;
}

#place {
  padding: 0px;
  margin: 0px;
  color: white;
  position: relative;
  display: inline-block;
}

#dotsContainer {
  width: 100%;
  height: 20px;
  text-align: center;
}

.dots {
  width: 8px;
  height: 8px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 100%;
  display: inline-block;
  margin: 8px 2px;
}

.dots:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.4);
}

.activeDot {
  background-color: rgba(0,0,0,0.6);
}

/* Capture Waviy style */
.waviy_capture {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, transparent);
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 10px;
}

.waviy_capture span {
  position: relative;
  display: inline-block;
  color: black;
  animation: waviy 3s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%,40%,100% {
      transform: translateY(0)
  }

  20% {
      transform: translateY(-5px)
  }
}

/* Adjustable Screen Sizes for Laptop */
@media screen and (min-width: 1100px) and (max-width: 1800px) {
/* About page image */
  .aboutImg {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      transition: 1s ease;
  }
  .aboutImg:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
  }

  .row {
      display: inline-flex;
      justify-content: center;
  }
  /* Projects section */
  .projects-content {
      width: 80%;
  }
  /* Gallery Section */
  #window, #slide-container {
      width: 300px;
  }

  /* Height of carousel */
  #slide-container {
      height: 430px;
  }
  #text-bar {
    top: 86%;
  }
}

/* Adjustable Screen Sizes for Average size smartphone and Ipad*/
@media screen and (max-width: 1024px) {
  .content {
      display: block;
      width: auto;
      margin: 20px;
      height: fit-content;
      max-width: 700px;
  }

  .about-content {
      display: block;
      width: auto;
      margin: 20px;
      height: fit-content;
      max-width: 700px;
  }

  .projects-content {
      display: block;
      width: auto;
      margin: 20px;
      height: fit-content;
      max-width: 700px;
  }
/* About page image adjustment */
  .row {
      display: block;
  }

  .column {
      flex: 33.33%;
      padding: 10px;
  }
/* Project section adjustment */
  .card-row {
      display: inline-block;
  }

  .card {
      width: fit-content;
  }

  .card:hover {
      width: fit-content;
  }

/* Gallery section */
/* Width of carousel */
  #window, #slide-container {
      width: 300px;
      display: inline-table;
  }

/* Height of carousel */
  #slide-container {
      height: 420px;
      overflow: hidden;
      position: relative;
  }

/* Wave animation for subheadings */
  .waviy {
      position: relative;
      -webkit-box-reflect: below -20px linear-gradient(transparent, transparent);
      margin-top: 30px;
      font-size: 10px;
  }

  .waviy_capture {
      position: relative;
      -webkit-box-reflect: below -20px linear-gradient(transparent, transparent);
      margin-top: 30px;
      font-size: 5px;
  }

/* Contact section */
  .social-links .wrapper {
      display: inline;
  }

  .wrapper .icon {
      padding-top: 50px;
  }

  .contact-subheading {
      margin-bottom: 80px;
  }

  .scroll-up i {
      margin-top: 50px;
      font-size: 25px;
      transition: 0.3s;
      color: rgb(80, 78, 78);
  }

/* Footer section */
  .content .footer-content p {
      font-size: 12px;
  }
}

/* Links Page */
.contact-subheading {
  font-size: 45px;
}

/* Credit: https://www.codingnepalweb.com social-media-buttons-with-tooltip-on-hover/ */
.wrapper {
  display: inline-flex;
  margin-top: 60px;
  margin-bottom: 150px;
}

.wrapper .icon {
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon a {
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon a i {
  line-height: 60px;
  font-size: 25px;
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}

.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover a {
  color: #fff;
}

.wrapper .icon:hover a,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.wrapper .facebook:hover a,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
  background: #3B5999;
}

.wrapper .instagram:hover a,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.wrapper .github:hover a,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
  background: #333;
}

.wrapper .linkedin:hover a,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip:before {
  background: #0077b5;
}

.wrapper .discord:hover span,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip:before {
  background: #5865F2;
}

.wrapper .icon span {
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span i {
  line-height: 60px;
  font-size: 25px;
}

.wrapper .icon:hover span {
  color: #fff;
}

/* top page scroller */
.scroll-up i {
  font-size: 25px;
  transition: 0.3s;
  color: rgb(80, 78, 78);
}

.scroll-up i:hover {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.back-top {
  margin-bottom: 50px;
  font-size: 18px;
}

/* Footer section */
.footer-content {
  display: flex;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #050505;
  padding: 30px;
}